@page "/"
<div class="rpgui-content">
    @if (user is not null)
    {
        <button class="rpgui-button" @onclick="Logout">
            Logout @user.DisplayName
        </button>
    }
    else
    {
        <p>
            Checking authentication...
        </p>
    }
    <style>
        /* Set row/column count dynamically */
        .game-grid {
            grid-template: repeat(@gridSize, 1fr) / repeat(@gridSize, 1fr);
        }
    </style>
    <div class="game">
        <div class="game-grid">
            @for (int row = 0; row < gridSize; row++)
            {
                for (int col = 0; col < gridSize; col++)
                {
                    // Do not capture the loop variable in the onclick lambda
                    string location = Location(col, row);
                    <div class="game-grid-cell @CssClassCell(location)" @onclick="_ => SelectLocation(location)">
                        <span style="color: blue">
                            @Symbols(location, e => e.OwnerId == user!.Id)
                        </span>
                        <span style="color: red">
                            @Symbols(location, e => e.OwnerId != user!.Id)
                        </span>
                    </div>
                }
            }
        </div>
        <div class="game-detail rpgui-container framed">
            <h1>
                @DetailTitle
            </h1>
            @if (selectedCellCharacters.Any())
            {
                <div class="game-detail-grid">
                    @if (selectedCharacter is not null)
                    {
                        <div class="framed-golden">
                            <span style="font-size: 75%;" @onclick="CheckStatus">
                                Strength: @selectedCharacter.Strength
                            </span>
                            <div class="game-dpad-grid">
                                <button type="button" class="rpgui-button dpad-grid-lf" @onclick="() => Move(0, -1)">
                                    <span>&#x1F880;</span>
                                </button>
                                <button type="button" class="rpgui-button dpad-grid-rt" @onclick="() => Move(0, +1)">
                                    <span>&#x1F882;</span>
                                </button>
                                <button type="button" class="rpgui-button dpad-grid-up" @onclick="() => Move(1, -1)">
                                    <span>&#x1F881;</span>
                                </button>
                                <button type="button" class="rpgui-button dpad-grid-dn" @onclick="() => Move(1, +1)">
                                    <span>&#x1F883;</span>
                                </button>
                                <button type="button" class="rpgui-button dpad-grid-br" @onclick="() => DoActivity()">
                                    @if (selectedCharacter.IsActive)
                                    {
                                        <span style="font-size: 200%; color: red;">&#11203;</span>
                                    }
                                    else
                                    {
                                        <img src="images/dumbbell.png" style="margin-left: -17px" />
                                    }
                                </button>
                            </div>
                        </div>
                    }
                    <div>
                        <h4>
                            Mine
                        </h4>
                        <div class="rpgui-container framed game-detail-scroll">
                            @foreach (var c_loop in myCharacters)
                            {
                                var character = c_loop;
                                <span class="game-character-name @CssClass(character)" @onclick="() => selectedCharacter = character">
                                    @character.Name <br />
                                </span>
                            }
                        </div>
                        <button type="button" class="rpgui-button" @onclick="NewCharacter">
                            <span>New</span>
                        </button>
                    </div>
                    <div>
                        <h4>
                            Theirs
                        </h4>
                        <div class="rpgui-container framed game-detail-scroll">
                            @foreach (var name in ActiveCellNames(theirCharacters))
                            {
                                <span>
                                    @name <br />
                                </span>
                            }
                        </div>
                    </div>
                </div>
            }
            else if (selectedLocation is not null)
            {
                <div>
                    <button type="button" class="rpgui-button" @onclick="NewCharacter">
                        <span>New Character</span>
                    </button>
                </div>
            }
        </div>
    </div>
</div>

<BlazoredToasts />
